<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

<servlet>
<servlet-name>Login2</servlet-name>
<servlet-class>mypkg.Login2</servlet-class>
</servlet>
<servlet>
<servlet-name>LoginTryAgain</servlet-name>
<servlet-class>mypkg.LoginTryAgain</servlet-class>
</servlet>
<servlet>
<servlet-name>Logout</servlet-name>
<servlet-class>mypkg.Logout</servlet-class>
</servlet>
<servlet>
<servlet-name>DisplayCityPlaces</servlet-name>
<servlet-class>mypkg.DisplayCityPlaces</servlet-class>
</servlet>
<servlet>
<servlet-name>EnterCountry</servlet-name>
<servlet-class>mypkg.EnterCountry</servlet-class>
</servlet>
<servlet>
<servlet-name>DisplayCity</servlet-name>
<servlet-class>mypkg.DisplayCity</servlet-class>
</servlet>

<!-- Note: All <servlet> elements MUST be grouped together and
placed IN FRONT of the <servlet-mapping> elements -->
<servlet-mapping>
<servlet-name>Login2</servlet-name>
<url-pattern>/Login2</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>LoginTryAgain</servlet-name>
<url-pattern>/LoginTryAgain</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>Logout</servlet-name>
<url-pattern>/Logout</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>DisplayCityPlaces</servlet-name>
<url-pattern>/DisplayCityPlaces</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>EnterCountry</servlet-name>
<url-pattern>/EnterCountry</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>DisplayCity</servlet-name>
<url-pattern>/DisplayCity</url-pattern>
</servlet-mapping>










</web-app>
